.username-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 100vh;
  }
  
  .welcome-text {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .username-input {
    width: 250px;
    height: 30px;
    font-size: 14px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }